* {
    margin: 0;
    line-height: 1.5;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  main {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
  
  main > section {
    height: 100vh;
    display: flex;
    background: #eee;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    padding: 3em;
  }
  
  main > section:nth-child(1) {
    background: #b0d8f7;
  }

  main > section:nth-child(2) {
    background: #FFECCC;
  }

  main > section:nth-child(3) {
    background: #7AA1BF;
  }

  main > section:nth-child(4) {
    background: #FFECCC;
  }

  main > section:nth-child(5) {
    background: #7AA1BF;
  }
  
  main > section > div {
    margin: auto;
  }
  
  html,
  body {
    overflow: hidden;
  }

@font-face {
    font-family: MarvinsVisions;
    src: url(MarvinVisions-Bold.otf);
}

@font-face {
    font-family: LatoBold;
    src: url(Lato-Bold.ttf);
}

h1 {
    font-family: MarvinsVisions;
    letter-spacing: 4px;
    color:#b0d8f7;
    text-align:center;
    font-size: 7vw;
    font-weight: 700;
    stroke-width: 0.3vw;
}

h2 {
    font-family: MarvinsVisions;
    letter-spacing: 4px;
    color:#FFECCC;
    text-align:center;
    font-size: 7vw;
    font-weight: 700;
    stroke-width: 0.3vw;
}

p1 {
    font-family: LatoBold;
    font-size: 120%;
    color: #665D4E;
    text-align: left;
}

p2 {
    font-family: LatoBold;
    font-size: 120%;
    color: #EEFBFF;
    text-align: left;
}

table, th, td {
    border: 1px solid #FFECCC;
  }
  
  table {
    width: 100%;
  }

.patterns {
    height: 90vh;
    width: 110vh;
  }
 
.size {
    font-size: 64%;
}

.tablesize {
    font-size: 64%;
    margin: 5px;
}

.bold {
    font-size: 90%;
    font-weight: bold;
}

.head {
    font-size: 110%;
    font-weight: bold;
    text-decoration: underline #EEFBFF;
}
  svg text {
    font-family: MarvinsVisions;
    letter-spacing: 10px;
    stroke: #A78C6F;
    font-size: 15vh;
    font-weight: 700;
    stroke-width: 0.3vw;
    animation: textAnimate 5s infinite alternate; 
  }
  
  @keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset:  20%;
      fill:#FFECCC
  
    }
    
    100% {
     stroke-dasharray: 50% 0;
     stroke-dashoffstet: -20%;
     fill: #FFECCC
   }
    
  }
